.timeline-container {
  border-left: 1px solid black;
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
}

.timeline-line {
  width: 1px;
  border-left: 1px solid black;
  margin-left: 40px;
}

.timeline-event-container {
  width: 100%;
}

.timeline-container h1 {
  margin-left: 30px;
  background: #ddd;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  top: 0;

}
.timeline-month {
  position: relative;
  z-index: 2;
}

.timeline-current-month {
  position: fixed;
  z-index: 1;
  box-shadow: 0px 5px 5px #888888;
  left: 50px;
  right: 10px;
}
